.full-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  border-radius: 15px;
  padding: 40px;
  max-width: 500px;
  width: 100%;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(15px);
  color: white;
}

.login-box input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
}